.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 260px;
  background: #010124;
  display: flex;
  flex-direction: column;
  z-index: 120;
  border-right: 1px solid #ffffff33;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
  transition: all ease 0.5s;
}
.sidebar.open { width: 72px; }
.sidebar.open .sidebar-logo img { visibility: hidden; }
.sidebar.open nav.sidebar-nav { padding-inline: 0px; }
.sidebar.open nav.sidebar-nav .sidebar-item{padding-inline: 10px;}
.sidebar.open nav.sidebar-nav .sidebar-item .sidebar-label { display: none; }
.sidebar.open nav.sidebar-nav .sidebar-item .sidebar-icon { margin-inline: 8px; }
.sidebar.open+.dashboard-main {
  margin-left: 72px;
}


.sidebar-logo {
  padding: 24px 25px;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  align-items: center;
}
.sidebar-logo img{max-width: 100%; width: auto; height: 40px;    filter: invert(1) brightness(8.5);}


.sidebar-nav {
  flex: 1;
  overflow-y: auto;
  padding: 16px 12px;
}

.sidebar-nav::-webkit-scrollbar {
  width: 6px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background: #f9fafb;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 4px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;opacity: 0.6;
}

.sidebar-item.active, .sidebar-item:hover{
  color: #ffffff;
  opacity: 1;
  font-weight: 600;
}

.sidebar-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  color: inherit;
}

.sidebar-icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 2;
}

.sidebar-item.active .sidebar-icon {
  color: #ffffff;
}

.sidebar-label {
  font-size: 0.95rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
